.contenitore {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    gap: 10px;
}

.cella {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}


.cella.scoperta {
    background-color: lightblue;
}



.cella.bomba {
    background-color: red;
}